{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Campers</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'polls/css/cabain.css' %}">
</head>
<body>
	
        {% block content %}
        <body>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
            <!-- *** NAVBAR *** -->
            <nav class="navbar navbar-expand-sm navbar-light bg-success">
                <div class="container-fluid ">
                <a class="navbar-brand" style="color: white; font-weight: bold; text-decoration: underline;" href="{% url 'index' %}">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">	  
                </div>
                </div> 
            </nav>


              {% comment %} CONTENT {% endcomment %}
            <div class="general">
                <div class="con1">
                    <div class="row">
                        
                        {% for elemento in campers %}
                            
                            <div class="col-sm" style="margin-top: 5%; margin-right: 2.5%;">
                                <div class="card" style="width: 16rem">
        
                                    <a href="{% url 'profile' idvilla idcab elemento.id %}">
                                        <img src="{{ elemento.camper_image }}" alt="{{ elemento.camper_name }}" class="card-img-top">
                                    </a>
                                    
                                    <div class="card-body">
                                        <h5 class="card-title">{{ elemento.camper_name }}</h5>
                                    </div>
                                </div>
                            </div>
                            
        
                        {% endfor %}
                    </div>
                </div>
                <div class="con2">
                    <h1>{{ cabana.cabain_name }}</h1>
                    <img class="villa" src="{{ cabana.cabain_image }}" alt="{{ invilla.village_name }}" class="card-img-top">
            
                    <p class="infovilla"><b>Location:</b>  East side of the lake </br>
                    <b>Staff in charge:</b> Julian, Laura </br>
                    <b>Number of cabain:</b> 5</p>
        
                </div>
            </div>
    
        <a href="{% url 'cabain' idvilla %}">
            <img class="botonR" src="{% static 'polls/img/return-row.png' %}" alt="retorno" width="2.5%" height="2.5%">
        </a>
        <div class="contenedorBotones">
            <a id="btnAdVi" href="http://127.0.0.1:8000/admin/polls/village/" target="_blank">Manage camper</a>
            <a id="btnCrCa" href="http://127.0.0.1:8000/admin/polls/cabain/add/" target="_blank">Create camper</a>
        </div>
        <br>

        {% comment %} FOOTER {% endcomment %}
		<footer class="text-center text-white" style="background-color: #f1f1f1;">
			<!-- Grid container -->
		  
			<!-- Copyright -->
			<div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
			  <div class="container"></div>
			  <div class="row justify-content-end">
				
				
				<div class="col-4">
				  <!--*** Logo CW *** -->
					  <div class="pageIco">
						  <a href="http://www.campwise.org"><img src="{% static 'polls/img/cw-logo.png'%}" alt="" style="width: 130px;"></a>
					  </div>
				</div> 
				
			  </div>
		  
			</div>
			
			<!-- Copyright -->
		  </footer>
         
        {% endblock %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.min.js"></script>
</body>
</html>